@font-face {
    font-family: Leixo;
    src: url('../Fonts/Leixo.ttf') format("truetype");
}

h1 {
    color: white;
    font-weight: 200;
    font-family: Leixo;
    font-size: 80px;
    line-height: 22px;
    margin: 0;
    padding: 80px 0px 350px 0px;
    text-align: center;
}

#granim-canvas {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
