@font-face {
    font-family: Leixo;
    src: url('../Fonts/Leixo.ttf') format("truetype");
}

@font-face {
    font-family: Neou;
    src: url('../Fonts/Neou.ttf') format("truetype");
}

@font-face {
    font-family: TheLightFont;
    src: url('../Fonts/TheLightFont.ttf') format("truetype");
}

@font-face {
    font-family: Exo2;
    src: url('../Fonts/Exo2.ttf') format("truetype");
}

h1 {
    color: white;
    font-weight: 200;
    font-family: Leixo;
    font-size: 80px;
    line-height: 22px;
    margin: 0;
    padding: 80px 0px 350px 0px;
    text-align: center;
}

#overlay {
    background-color: rgba(0,0,0,0.8); 
    bottom: S0;
    cursor: pointer; 
    display: none; 
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0; 
    width: 100%; 
    z-index: 2; 
}

#overlayTextHeading1{
    color: white;
    font-family: Leixo;
    font-size: 40px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 10%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#overlayTextHeading2{
    color: white;
    font-family: Leixo;
    font-size: 40px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 60%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#overlayText1{
    color: white;
    font-family: TheLightFont;
    font-size: 30px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 30%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#overlayText2{
    color: white;
    position: absolute;
    font-family: TheLightFont;
    font-size: 30px;
    left: 50%;
    text-align: center;
    top: 75%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#footerText{
    color: white;
    position: absolute;
    font-family: Exo2;
    font-size: 15;
    left: 50%;
    text-align: center;
    top: 97%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#SongTitle {
    color: white;
    font-family: Neou;
    font-size: 40px;
    padding: 170px 0px 0px 0px;
    text-align: center;
}

#granim-canvas {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}